<h1><%= @project %></h1>
<%= form_tag project_upload_path, multipart: true, post: true do %>
  <%= label_tag :ev3_file, "EV3 File" %>
  <%= file_field_tag :ev3_file %>
  <br/>
  <%= text_area_tag :comment %>
  <br/>
  <%= submit_tag "Upload" %>
<% end %>
<ol>
  <% @versions.each do |version| %>
    <li><%= debug version %></li>
  <% end %>
  <% if @versions_count > @versions.size %>
    <li>more ...</li>
  <% end %>
</ol>
